[submodule "08. Tools/exploiting/SMBploit"]
	path = 08. Tools/exploiting/SMBploit
	url = https://github.com/d4t4s3c/SMBploit.git
[submodule "08. Tools/scanning/NetScanCLI"]
	path = 08. Tools/scanning/NetScanCLI
	url = https://github.com/d4t4s3c/NetScanCLI.git
